@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 6 182 212;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 34, 40; /* topo */
  --background-end-rgb: 22, 25, 29;   /* fundo */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}
