@import "../styles/tokens/colors.css";
@import "../styles/tokens/type-layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255 255 255;
}

body {
  color: var(--color-content-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  line-height: var(--line-height-body);
  background: linear-gradient(
      to bottom,
      var(--color-surface-page-top),
      var(--color-surface-page-bottom)
    );
}
