.embla {
  overflow: hidden;
  width: 100%;
  padding: 3rem;
 
}

.emblaContainer {
  display: flex;
  gap: 1rem;
}

.emblaSlide {
  min-width: 250px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.emblaSlide.active {
  transform: scale(1.1);
  opacity: 1;
}

.emblaSlide.inactive {
  transform: scale(0.9);
  opacity: 0.7;
}